<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pizzeria2/python-mysql-flask/src/templates/css/contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="navbarg - grid-container">
            <div class="titulo">
                <img src="/Pizzeria2/python-mysql-flask/src/templates/img/ec69be6850253bcd8927706b2d87c56c-pincel-trazo-esp-tula-tenedor-icono-amarillo.png"
                 width="10%"> 
                 
                <h1> |  Pizzeria La 32</h1>
            </div>
            <div class="botones">
                 <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/principal.html')">Inicio</button>
                 <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/menu.html')">Menu</button>
                 <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/index.html')">Pedido</button>
                 <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/contacto.html')">Contactos</button>
            </div>
        </div>
    </header>
    <main class="contactos grid-container">

        <section class="targeta-1">
                <div class="imag">
                    <img src="/Pizzeria2/python-mysql-flask/src/templates/img/insta.png" width="100">
                </div>
                <div class="tex">
                    <h3>@bue.edu.ar</h3>
                </div>
        </section>

        <section class="targeta-2">
            <div class="imag">
                <img src="/Pizzeria2/python-mysql-flask/src/templates/img/wpp_logo.png" width="100">
            </div>
            <div class="tex">
                <h3>11 28981348</h3>
            </div>
        </section>

        <section class="targeta-3">
        <div class="imag">
                <img src="/Pizzeria2/python-mysql-flask/src/templates/img/telefono.png" width="100">
            </div>
            <div class="tex">
                <h3>11 22941098</h3>
            </div>
        </section>
    </main>

</body>
</html>
