<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pizzeria2/python-mysql-flask/src/templates/css/principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Pizzeria La 32</title>
</head>
<body>
        <header>
            <div class="navbar - grid-container">
                <div class="titulo">
                    <img src="/Pizzeria2/python-mysql-flask/src/templates/img/ec69be6850253bcd8927706b2d87c56c-pincel-trazo-esp-tula-tenedor-icono-amarillo.png"
                    width="10%"> 
                    
                    <h1> |  Pizzeria La 32</h1>
                </div>
                <div class="botones">
                    <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/principal.html')">Inicio</button>
                    <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/menu.html')">Menu</button>
                    <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/index.html')">Pedido</button>
                    <button onclick="location.href=('/Pizzeria2/python-mysql-flask/src/templates/contacto.html')">Contactos</button>
                </div>
            </div>
        </header>

        <main>
            <section class="inicio">
        
                <div class="item1">
                    <h2 class="text">Bienvenido a  Pizzeria La 32</h2>
                    <p class="elema">Servimos las mejores pizzas con ingredientes frescos y de alta calidad.</p>
                    <p>¡Descubre el sabor único de nuestras creaciones!</p>
                </div>

                <div class="itm2">
                     <img src="/Pizzeria2/python-mysql-flask/src/templates/img/pizza1.jpg" width="200%">
                </div>
                
                <div class="item3">
                    <h2 class="text">Historia</h2>
                    <p>En 2010, <b>Juan Cetro, Tiago Palmieri y Jairo Carbajal</b> abrieron La 32, una modesta pizzería. Su auténtica pizza conquistó rápidamente a la comunidad, llevando a una expansión veloz. Hoy, La 32 es un referente local, donde la pasión de sus fundadores y la calidad de sus pizzas cuentan una historia de éxito que perdura en cada bocado.</p>
                </div>

                <div class="item4">
                    <img src="/Pizzeria2/python-mysql-flask/src/templates/img/pizzeria_local.jpg" width="90%">
                </div>
    
            </section>
        </main>
</body>
</html>